@media only screen and (max-width: 830px){
    .cover{
        display: none;
        position: static;
    }
    .forground{
        position: static;
        border: 1px solid black;
    }
    #cards div{
        border: none;
        box-shadow: none;
    }
    #cards div:hover {
        box-shadow:none;
        transform: scale(1.1);
    }
}