body{
  background: linear-gradient(222.18deg, #080E10 69.26%, rgba(0, 0, 0, 0.26) 126.22%);
  color: white;
  font-size: large;
  text-align: center;
}

footer{
  background: linear-gradient(270.09deg, rgba(255, 255, 255, 0.54) -0.52%, rgba(186, 224, 246, 0.342721) -0.51%, rgba(65, 171, 231, 0) 101.04%);;
}
footer ul li a{
  color: white;
}
nav ul li a:hover{
    border-radius: 5px;
    background-color: none;
    box-shadow:0px 0px 0px #000000, 0px 3px 4px -1px #6bfff6;
}
#qoute{
  color:white;
}
p{
  color: white; 
  font-size: 1.09em;
}
#cards div{
  border:black 2px solid;
  box-shadow: rgb(255, 255, 255) 4px 4px;
  }
  #acadamics div{
    border:solid black 2px;
    box-shadow: rgb(255, 255, 255) 2px 2px;
}
#acadamics div :first-child{
  background-color: rgb(18, 84, 87);
}
.butn{
  border:1px solid #23687C;
  background-color: black;
  border-radius: 3px;
  color: inherit;
  
}
.butn:hover{
  background-color: white;
  color: #000000;
}

button{
  border: black 0.5px solid;
  box-shadow: 3px 2px 2px 2px rgb(255, 255, 255);
}
nav ul li button{
  border:.5px solid rgb(48, 47, 47);
  background-color: #fffefe;
  color: rgb(0, 0, 0);
}


form input,textarea{
  border: solid rgb(150, 148, 148) 2px;
  box-shadow: 2px 0px 1.5px 1.5px rgb(224, 224, 224) ;

}
label{
  color:rgb(242, 246, 247);
}
fieldset{
  box-shadow: 3px 0px 2px 2px rgb(180, 180, 180) ;
}
section section{
  border: 2px solid rgb(100, 100, 100);
  box-shadow: rgb(211, 210, 210) 4px 4px;}
#line{
    border: rgb(241, 238, 238) 1px solid;

}
nav ul li a{

  color: white;
}
#mode{
    background-color: rgb(8, 8, 8);
    box-shadow: none;
    border: none;
  }
 
  @media only screen and (max-width: 830px) {
    *{
        font-size: 14px;
    }
    body {
        margin: 0px;
    }

    .burger {
        display: block;
        border: 1px white solid;
    }

    nav {
        width: 28%;
        background-color: rgb(0, 0, 0,0.1);
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 10px;
        z-index: 1;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: -40px;
    }

    nav ul li {
        margin: 10px;
    }

    #content p {
        font-size: 1.5rem;
    }

    #qoute {
        font-size: .9em;
    }

    .toggle {
        display: none;
    }
    section img {
        max-height: 420px;
    }
    #form_p{
        text-align: left;
        font-size: 1.1em;
    }
    p{
      color: white; 
      font-size: .9em;
    }
}

@media only screen and (max-width: 715px) {
    html{
        font-size: 12px;
    }
    nav ul li a {
        font-size: 2.0vw;
        font-weight: 700;
    }
    section img {
        max-height: 320px;
    }
    #storycont{
        flex-direction: column-reverse;
        align-items: center;
    }
    #storycont #para{
        width: 95%;
    }
    footer p{
        display: none;
    }
    label{
      font-size:0.9em;
    }
    
}
@media only screen and (max-width: 415px){
    html{

        font-size: 10px;
    }
    section img {
        max-height: 220px;
    }
    #form_p{
      font-size: 1em;
    }
    
}