
body{
    background: linear-gradient(218.89deg, #23687C 67.1%, rgba(48, 168, 60, 0.26) 127.22%);
    color: white;
    font-size: large;
    text-align: center;
}
header{
    display: flex;
    justify-content: flex-start;
    width: 10%;
    float: left;
    
}
#logo{
    border-radius: 150px;
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    margin-right: auto;
}
nav ul li{
    margin: 20px;
    list-style-type: none;
    
}
nav ul li a{
    text-decoration: none;
    color: white;
    
}
nav ul li a:hover{
  border-radius: 5px;
  background:#23687C,0.4;
  box-shadow:0px 0px 0px #000000, 0px 3px 4px -1px #6bfff6;
}
#main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#mainimg{
    
    overflow: hidden;
    width: 20vw;}
#anime{
    display: flex;
    animation: animatepic 8s infinite;
}
#mainimg img{
    border-radius: 10px;
    width: 20vw;
    margin-right: 20vw;
    
}
#content p{
    color: white;
    font-size: 2.5em;
    height: fit-content;
    
}
#content{
    width: 25%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
    
#qoute{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 110px;
}
footer{
    margin-top: 15vw;
}
#footerdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    
    margin-left: auto;
    margin-right: auto;
}
footer ul{
    display: table;
}
footer ul li{
    list-style: none;
    display:table-row;
}
footer ul li a{
    text-decoration: none;
    text-align: left;
    line-break:auto;
    display: table-cell;
    vertical-align: middle;
    padding-left: 8px;
    color: white;

}
footer ul li img{
    width: 2.5vw;
    border-radius: 4.2vw;
}



#cont {
    width: 350px;
    font-size: 40px;
    margin: 0px;
    margin-top: -25px;
    overflow: hidden;
    height: 47px;

  }

  #an {
    margin: 0px;
    animation: animate 8s infinite;
    
  }
  #an div{
      margin-left: auto;
      margin-right: auto;
  }
 
  #cont1 {
    width: 300px;
    background-color: rgb(3, 170, 170);
    margin-top: 47px;
    margin-bottom: 47px;
    border-radius: 10px;
    height: 47px;
    padding-left: auto;
  }

  #cont2 {
    width: 300px;
    background-color: rgb(26, 26, 128);
    margin-top: 47px;
    margin-bottom: 47px;
    border-radius: 10px;
    height: 47px;

  }

  #cont3 {
    width: 300px;
    background-color: blueviolet;
    margin-top: 47px;
    margin-bottom: 47px;
    border-radius: 10px;
    height: 47px;
  }

  #cont4 {
    width: 300px;
    background-color: rgb(17, 177, 38);
    margin-top: 47px;
    margin-bottom: 47px;
    border-radius: 10px;
    height: 47px;
  }

  @keyframes animate {
    0% {
      margin-top: -47px;
    }

    18% {
      margin-top: -47px;
    }

    25% {
      margin-top: -141px;
    }

    43% {
      margin-top: -141px;
    }

    50% {
      margin-top: -235px;
    }

    68% {
      margin-top: -235px;
    }

    75% {
      margin-top: -329px;
    }

    93% {
      margin-top: -329px;
    }

    93.001% {
      margin-top: 0px;
    }

    99.99% {
      margin-top: -47px;
    }

    100% {
      margin-top: -47px;
    }
  }
  @keyframes animatepic {
    0% {
      margin-left: 0vw;
    }

    18% {
        margin-left: 0vw;
    }

    25% {
        margin-left: -40vw;
    }

    43% {
        margin-left: -40vw;
    }

    50% {
        margin-left: -80vw;
    }

    68% {
        margin-left: -80vw;
    }

    75% {
        margin-left: -120vw;
    }

    93% {
        margin-left: -120vw;
    }

    93.000001% {
        margin-left: -20vw;
    }

    99.99% {
        margin-left: 0vw;
    }

    100% {
        margin-left: 0vw;
    }
  }