
body{
    background: linear-gradient(218.89deg, #23687C 67.1%, rgba(48, 168, 60, 0.26) 127.22%);
    color: white;
    font-size: large;
    text-align: center;
}
header{
    display: flex;
    justify-content: flex-start;
    width: 10%;
    float: left;
    
}
#logo{
    border-radius: 150px;
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    margin-right: auto;
}
nav ul li{
    margin: 20px;
    list-style-type: none;
    
}
nav ul li a{
    text-decoration: none;
    color: white;
}
#main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#mainimg img{
    border-radius: 10px;
}
#content p{
    color: white;
    font-size: 2.5em;
}
#content{
    width: 25%;
}
#qoute{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 110px;
}
footer{
    margin-top: 15vw;
}
#footerdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    
    margin-left: auto;
    margin-right: auto;
}
footer ul{
    display: table;
}
footer ul li{
    list-style: none;
    display:table-row;
}
footer ul li a{
    text-decoration: none;
    text-align: left;
    line-break:auto;
    display: table-cell;
    vertical-align: middle;
    padding-left: 8px;
    color: white;

}
footer ul li img{
    width: 2.5vw;
    border-radius: 4.2vw;
}